body{

font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#141E30,#243B55);
color:white;

}

.container{

background:rgba(255,255,255,0.1);
padding:30px;
border-radius:20px;
backdrop-filter:blur(12px);
box-shadow:0 10px 30px rgba(0,0,0,0.4);
width:350px;

}

h1{

text-align:center;
margin-bottom:20px;

}

.password-box{

display:flex;
margin-bottom:20px;

}

.password-box input{

flex:1;
padding:10px;
font-size:16px;
border:none;
border-radius:8px;
outline:none;

}

.password-box button{

margin-left:10px;
padding:10px;
border:none;
border-radius:8px;
background:#00c6ff;
color:white;
cursor:pointer;

}

.settings label{

display:block;
margin-top:10px;

}

.options{

margin-top:10px;

}

.generate{

margin-top:20px;
width:100%;
padding:12px;
font-size:16px;
border:none;
border-radius:10px;
background:#0072ff;
color:white;
cursor:pointer;
transition:0.3s;

}

.generate:hover{

transform:scale(1.05);

}

.strength{

margin-top:15px;
text-align:center;
font-weight:bold;

}